<%= render "shared/user_profile", user: @user %>
<%= render "shared/index_nav", user: @user %>

<table>
  <!-- <thead>
    <tr>
      <th>Title</th>
      <th>status</th>
      <th>Created at</th>
      <th>edit and destroy</th>
    </tr>
  </thead> -->

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= "publish" %></td>
        <td><%= post.created_at.strftime("%Y-%m-%d") %></td>
        <% if @user == current_user %>
        <td><%= link_to 'edit', edit_post_path(post) %></td>
        <td><%= link_to 'destroy', post_path(post), method: :delete, data:{ confirm: "Are you sure?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>


<!-- <div class="container pagination justify-content-center" >
  <%#= paginate @post.comment, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div> -->
