<ul class="nav nav-tabs justify-content-center">
  <li role="presentation" class=<%= active_class?(user_path) %>>
    <%= link_to "My Post", user_path(user) %></li>
  <li role="presentation" class=<%= active_class?(comment_user_path) %>>
    <%= link_to "My comment", comment_user_path(user) %></li>
  <li role="presentation" class=<%= active_class?(collect_user_path) %>>
    <%= link_to "My collect", collect_user_path(user) %></li>
  <li role="presentation" class=<%= active_class?(draft_user_path) %>>
    <%= link_to "My Draft", draft_user_path(user) %></li>
  <li role="presentation" class=<%= active_class?(friend_user_path) %>>
    <%= link_to "My Friend", friend_user_path(user) %></li>
</ul>