

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Replies count</th>
      <th scope="col">Title</th>
      <th scope="col">Last replies at</th>
      <th scope="col">Viewed count</th>
    </tr>
  </thead>

  <tbody>
    <% posts.each do |post| %>
      <tr>

        <td class= "align-middle">
          <span class= "badge badge-secondary"><%= post.comments_count %></span></td>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.last_reply %></td>
        <td><%= icon 'fa','eye' %> <%= post.viewed_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>


<div class="container pagination justify-content-center" >
  <%= paginate posts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>