<table>
  <thead>
    <tr>
      <th>Replies count</th>
      <th>Title</th>
      <th>Last replies at</th>
      <th>Viewed count</th>
    </tr>
  </thead>

  <tbody>
    <% posts.each do |post| %>
      <tr>
        <td><%= post.comments_count %></td>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.last_reply %></td>
        <td><%= post.viewed_count %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>


<div class="container pagination justify-content-center" >
  <%= paginate posts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
</div>