<div class="row">
  <div class="col-md-4">
    <%= image_tag user.avatar.url, class: "img-fluid rounded"%>
    <h1><%= link_to user.name, user_path(user), class: "btn btn-success" %></h1>
  </div>
  <div class="offset-md-1 col-md-7 row">
    <div class="col-md-12">
      <%= user.intro %>
    </div>
    <div class="col-md-12 text-right">
      <% if user == current_user %>
        <%= link_to "Edit Profile", edit_user_path(user), class: "btn btn-success" %>
      <% else %>
        <%= render 'shared/friend', user: user %>
        <%= link_to "Follow", user_path(user), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>