<!-- scaffold generated about error message-->
<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
    </div>
    <div class="form-group">
      <%= form.text_area :content, size: "60x12", class: 'form-control',placeholder: 'Your content here.' %>
    </div>
    <div class="form-group">
      <% unless post.new_record? %>
        <% unless post.photo.url.nil? %>
          <%= image_tag post.photo.url %>
        <% end %>
      <% end %>
      <%= form.file_field :photo, class: 'form-control-file' %>
    </div>
    <div class="form-group">
      <%= form.label :who_can_see %>
      <div class="form-check form-check-inline">
        <%= form.radio_button :who_can_see, 'all', class: 'form-check-input' %>
        <label class="form-check-label" for="inlineRadio1">All</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :who_can_see, 'friend', class: 'form-check-input' %>
        <label class="form-check-label" for="inlineRadio2">Friend</label>
      </div>
      <div class="form-check form-check-inline">
        <%= form.radio_button :who_can_see, 'myself', class: 'form-check-input' %>
        <label class="form-check-label" for="inlineRadio3">Myself</label>
      </div>
      <%#= form.text_field :who_can_see %>
    </div>
    <div class="form-group">
      <%= form.label :category %>
      <div class="form-check form-check-inline">
        <%= hidden_field_tag 'post[category_ids][]',nil %>
        <% @categories.each do |category| %>
          <%= check_box_tag 'post[category_ids][]', category.id, @post.category_ids.include?(category.id), id: dom_id(category), class: 'form-check-input' %>
           <%= label_tag dom_id(category), category.name, class: 'form-check-label' %> <br />
        <% end %>
        <%= @post.category_ids %>
      </div>
    </div>

    <div class="field">
      <%= form.label :status %>
      <span class="badge <%='badge-secondary' if post.status=='draft'%><%='badge-success' if post.status=='publish'%> ">
        <%= post.status %>
      </span> 
    </div>

    <div class="actions btn-inline">
      <% if @post.publish?%>
        <%= form.submit 'Update', class: 'btn btn-secondary' %>
        <%= form.submit 'Unpublish', class: 'btn btn-primary' %>
      <% else%>
        <%= form.submit 'Draft', class: 'btn btn-secondary' %>
        <%= form.submit 'Publish', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </form>
<% end %>

