<!-- navgation -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <%= link_to @post.title, post_path(@post), class: "navbar-brand" %>
  <form class="form-inline">
    <%= link_to "collect", post_path(@post), class: "btn btn-outline-secondary m-2 my-sm-0" %>
    <%= link_to "comment", post_path(@post), class: "btn btn-outline-secondary my-2 my-sm-0" %>
  </form>
</nav>

<!-- post and user -->
<%= render "shared/post_user", comment: @post, path: 'post' %>

<!-- comment and user -->
<% @comments.each do |comment| %>
  <%= render "shared/post_user", comment: comment, path: 'comment_post' %>
<% end %>
<br>

<!-- post new comment -->
<div class="form-horizontal">
  <%= form_for [@post,@comment] do |f| %>
    <div class="form-group offset-md-1 col-md-10">
      <%= f.text_area :content, size: "60x12", placeholder: "What's on your mind?", class: "rounded form-control" %>
    </div>
    <div class="col-sm-6">
      <% if @comment.errors.any? %>
        <%= @comment.errors.full_messages.to_sentence %>
      <% end %>
    </div>
    <div class="col-md-11 text-right">
      <%= f.submit "comment", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
